main {
  padding-top: 4em;
  color: black;
  
}
main section{
  text-align: justify;
  padding-left: 5em;
  padding-right: 5em;
  
}
main section h1 {
  text-align: center;
}

.map-container{
  align-items: center;
  
}
